.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.carousel-card {
    flex: 0 0 auto;
    width: 400px;
    height:400px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: white;
    border: none;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    transition: background 0.3s;
}

    .carousel-btn:hover {
        background: #f1f1f1;
    }

    .carousel-btn.prev {
        left: 10px;
    }

    .carousel-btn.next {
        right: 10px;
    }

.car-card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.car-card__background {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    z-index: 1;
}

.car-card__info {
    position: absolute;
    bottom: 0;
    height: 43%;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    transform: translateY(50%);
    transition: transform 0.4s ease;
    padding: 16px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.car-card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-card__body-type {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

    .car-card__body-type img {
        width: 30px;
        height: 30px;
    }

.car-card__year {
    font-weight: bold;
    font-size: 18px;
}

.car-card__title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.car-card__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.car-card__detail-left,
.car-card__detail-right {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.label {
    font-weight: 500;
    color: #666;
}

.value {
    font-weight: bold;
    color: #222;
}

.car-card__price {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.car-card__btn {
    display: block;
    text-align: center;
    padding: 8px 12px;
}


.car-card:hover .car-card__info {
    transform: translateY(15%);
    height:80%;
}




.section-hero {
    padding: 60px 5%;
}

.section-hero-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.section-hero-text {
    flex: 1 1 50%;
}
.section-hero-heading {
    text-align: center;
}

.section-hero-paragraph {
    line-height: 1.8;
    margin-bottom: 30px;
}

.section-hero-button {
    background: none;
    border: none;
    font-weight: bold;
}

.section-hero-image {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}

    .section-hero-image img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

/* Responsive */
@media screen and (max-width: 900px) {
    .section-hero-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .section-hero-text,
    .section-hero-image {
        flex: 1 1 100%;
    }
}

.scroll-animate {
    opacity: 0;
    transition: all 0.6s ease-out;
}

    .scroll-animate.animated {
        opacity: 1;
    }

/* Animacja: wjazd z dołu */
.slide-up {
    transform: translateY(40px);
}

    .slide-up.animated {
        transform: translateY(0);
    }

/* Animacja: wjazd z prawej */
.slide-in {
    transform: translateX(40px);
}

    .slide-in.animated {
        transform: translateX(0);
    }

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 2%;
    flex-wrap: wrap; /* Żeby zawijało się na mobilkach */
}

.section-hero-heading {
    flex: 1 1 45%;
    text-align: left;
}

.section-hero-image {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .section-hero-image img {
        max-width: 500px; /* Zwiększ max szerokość */
        max-height: 500px; /* Zwiększ max wysokość */
        height: auto; /* Zachowanie proporcji */
        width: auto; /* Zachowanie proporcji */
        border-radius: 10px;
    }

.hero-title {
    text-align: center;
    padding: 80px 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
}


.main_h {
    position: fixed;
    top: 0;
    z-index: 999;
    background: none;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    font-family: "Montserrat", sans-serif;
    width: calc(100% - 10%); /* Użyj 100% szerokości z uwzględnieniem marginesów */
    left: 5%; /* Ustal margines z lewej */
}

/* Kontener wewnętrzny navbaru */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

/* Logo */
.logo {
flex: 0 0 20%;
margin-right: auto;
margin-left:5%;
margin-top:1%;
margin-bottom:1%;
}

.logo-img {
    max-height: 100px;
    width: auto;
}

/* Nawigacja */
nav {
    display: flex; /* Dodajemy flex, aby można było kontrolować rozmieszczenie linków */
    justify-content: flex-end; /* Przesuwamy elementy w prawo */
    flex-grow: 1; /* Zajmuje całą dostępną przestrzeń w .navbar-container */
    margin-right:5%;
}

    /* Nawigacja */
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row; /* Ustawiamy domyślny układ poziomy */
    }

        nav ul li {
            padding: 6px 0;
            margin-right: 35px;
        }

            nav ul li a {
                position: relative;
                display: block;
                padding: 4px 0;
                font-family: Lato, sans-serif;
                color: #7b2e1f;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s;
                letter-spacing:1px;
            }

                /* Styl hover i animacja */
                nav ul li a::after {
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: #24435e;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.5s;
                }

                nav ul li a:hover {
                    color: #d8be6d;
                }

                    nav ul li a:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }

/* Mobilka */
@media only screen and (max-width: 766px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 10px;
        justify-content: flex-end;
    }

        nav ul {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

            nav ul li {
                margin: 10px 0;
            }
}


@media only screen and (max-width: 766px) {
    .main_h {
        padding-top: 25px;
    }
}

.open-nav {
    max-height: 400px !important;
}

    .open-nav .mobile-toggle {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 2px solid gainsboro;
    border-color: rgb(216, 188, 115);
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: rgb(216, 188, 115);
    background: linear-gradient(to right, rgb(216, 188, 115), rgba(216, 188, 115, 0) 25%, rgba(216, 188, 115, 0) 75%, rgb(216, 188, 115));
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
    }
}


.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

.hero {
    position: relative;
    background: url('../img-20250411-wa0006.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #24435e;
    padding-top: 50px;
    min-height: 500px;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100%;
    text-shadow: 0 0 15px white, 0 0 20px white, 0 0 25px white;
    font-weight: 1000;
}

    .hero h1 {
        font-size: 55px;
        line-height: 1.3;
    }

        .hero h1 span {
            font-size: 30px;
            color: rgb(216, 188, 115);
            border-bottom: 2px solid rgb(216, 188, 115);
            padding-bottom: 12px;
            line-height: 3;
        }
    .hero h2 {
        text-shadow: 0 0 15px white, 0 0 20px white, 0 0 25px white;
    }
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}




html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
