.btn {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #7b2e1f;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 1px;
}

    /* Styl hover i animacja */
    .btn::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #24435e;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    .btn:hover {
        color: #d8be6d;
    }

        .btn:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }

* {
    box-sizing: border-box;
}

body {
    color: #8f8f8f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
}

.content {
    padding: 50px 2% 250px;
}