/* === Przyciski – wspólna baza === */
.btn_primary,
.btn_secondary {
    min-width: 130px; /* wszystkie przyciski mają tę samą szerokość */
    text-align: center; /* wyrównanie tekstu */
    border-radius: 8px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* BTN - Zatwierdź */
.btn_primary {
    background-color: #fdfdfd; /* jasne tło */
    color: #24435e; /* granatowy tekst */
    border: 2px solid #d8be6d; /* złoty akcent */
}

    .btn_primary:hover {
        background-color: #d8be6d; /* złote tło po najechaniu */
        border-color: #d8be6d;
        color: #24435e;
        box-shadow: 0 3px 6px rgba(216, 190, 109, 0.3);
    }

/* BTN - Anuluj */
.btn_secondary {
    background-color: #f5f5f5;
    color: #24435e;
    border: 2px solid #ccc;
    font-weight: 500;
}

    .btn_secondary:hover {
        background-color: #eaeaea;
    }

footer {
    background-color: rgba(36, 67, 94, 0.95); /* granatowy */
    color: #f0f0f0;
    padding: 40px 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-section {
    flex: 1 1 250px;
    min-width: 250px;
}

    .footer-section h2,
    .footer-section h3 {
        color: #fff;
        margin-bottom: 15px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .footer-section p,
    .footer-section ul {
        font-size: 15px;
        line-height: 1.6;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

        .footer-section ul li {
            margin-bottom: 10px;
        }

            .footer-section ul li a {
                color: #ddd;
                text-decoration: none;
                transition: color 0.3s;
            }

                .footer-section ul li a:hover {
                    color: #d8be6d; /* bordowy przy hoverze */
                }

    .footer-section.contact p {
        margin-bottom: 8px;
    }

footer .bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #ccc;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(36, 67, 94, 0.6);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 10;
    transition: background-color 0.3s;
}

    .nav-btn:hover {
        background-color: rgba(36, 67, 94, 0.8);
    }

    .nav-btn.prev {
        left: 10px;
    }

    .nav-btn.next {
        right: 10px;
    }

.main_content{
    margin-top:175px;
}

.main_h {
    position: fixed;
    top: 0;
    z-index: 999;
    background: none;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    font-family: "Montserrat", sans-serif;
    width: calc(100% - 10%); /* Użyj 100% szerokości z uwzględnieniem marginesów */
    left: 5%; /* Ustal margines z lewej */
}
.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
}


.animated {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.scroll-animate {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

    .scroll-animate.animated {
        opacity: 1;
        transform: translateY(0);
    }

/* Animacja: wjazd z dołu */
.slide-up {
    transform: translateY(40px);
}

    .slide-up.animated {
        transform: translateY(0);
    }

/* Animacja: wjazd z prawej */
.slide-in {
    transform: translateX(40px);
}

    .slide-in.animated {
        transform: translateX(0);
    }
/* Kontener wewnętrzny navbaru */
.navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, rgba(89, 131, 252, 0) 0%, rgba(216, 190, 109, 0.13) 10%, rgba(216, 190, 109, 0.13) 80%, rgba(89, 131, 252, 0) 100%), url();
}

/* Logo */
.logo {
    flex: 0 0 20%;
    margin-right: auto;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.logo-img {
    max-height: 100px;
    width: auto;
}

.navbar-top {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Nawigacja */
nav {
    display: flex; /* Dodajemy flex, aby można było kontrolować rozmieszczenie linków */
    justify-content: flex-end; /* Przesuwamy elementy w prawo */
    flex-grow: 1; /* Zajmuje całą dostępną przestrzeń w .navbar-container */
    margin-right: 5%;
}

    /* Nawigacja */
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row; /* Ustawiamy domyślny układ poziomy */
    }

        nav ul li {
            padding: 6px 0;
            margin-right: 35px;
        }

            nav ul li a {
                position: relative;
                display: block;
                padding: 4px 0;
                font-family: Lato, sans-serif;
                color: #7b2e1f;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s;
                letter-spacing: 1px;
            }

                /* Styl hover i animacja */
                nav ul li a::after {
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: #24435e;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.5s;
                }

                nav ul li a:hover {
                    color: #d8be6d;
                }

                    nav ul li a:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }

.line {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(89, 131, 252, 0) 0%, rgba(216, 190, 109, 1) 10%, rgba(216, 190, 109, 1) 80%, rgba(89, 131, 252, 0) 100%), url();
    margin-left:-2rem;
}

.open-nav {
    max-height: 400px !important;
}



a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline:none;
}


.btn {
    position: relative;
    display: inline-block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #7b2e1f;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 1px;
    outline:none;
}

    /* Styl hover i animacja */
     .btn::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #24435e;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    .btn:hover {
        color: #d8be6d;
    }

        .btn:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
.btn:focus,
.btn:active {
    outline: none !important;
    border: none;
    box-shadow: none !important;
}


* {
    box-sizing: border-box;
}

body {
    color: #4f4f4f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
}

.content {
    padding: 50px 2% 250px;
}

/* --- RESPONSYWNOŚĆ --- */

/* Przycisk menu (hamburger) */
.menu-toggle {
    display: none;
    font-size: 28px;
    color: #7b2e1f;
    cursor: pointer;
    margin-right: 5%;
    margin-left: auto;
    height: 60px;
}

@media (max-width: 900px) {
    .navbar-container {
        display: flex;
        flex-direction: column; /* <- logo/hamburger u góry, menu pod spodem */
        align-items: stretch;
    }

    /* Pasek z logo i hamburgerem */
    .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }

    /* LOGO */
    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        max-width: 40%;
        flex: 0 0 auto;
    }

        .logo img {
            max-height: 60px;
            width: auto;
            height: auto;
        }

    /* HAMBURGER */
    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #7b2e1f;
        cursor: pointer;
        line-height: 1;
        flex: 0 0 auto;
    }

    /* MENU */
    nav {
        display: none;
        width: 100%;
    }

        nav.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            animation: fadeIn 0.3s ease-in-out;
        }

        nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 0;
            margin: 0;
            width: 100%;
            background-image: linear-gradient( 90deg, rgba(89, 131, 252, 0) 0%, rgba(216, 190, 109, 0.04) 10%, rgba(216, 190, 109, 0.04) 80%, rgba(89, 131, 252, 0) 100% );
        }

            nav ul li {
                margin: 10px 0;
            }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

