<link href="~/css/contact_site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

@{
    ViewData["Title"] = "Kontakt";
}

<div class="contact-container" style="margin-top:180px;">
    <div>
        <h1 style="margin:0; display:inline-block; color:#24435e; font-weight:500;" ><i class="fas fa-envelope-open-text" style="margin-right:10px;"></i>KONTAKT</h1>
        <div class="line" style="margin-bottom:2rem;"></div>
    </div>
    <div class="car-item scroll-animate slide-in">
    <div class="contact-content">
        <!-- Lewa kolumna: informacje kontaktowe -->
        <div class="contact-info">
            <div class="info-item">
                    
                    <strong> <i class="fas fa-map-marker-alt"></i> Adres:</strong>
                <p>ul. Marii Konopnickiej 49, 89-200 Szubin</p>
            </div>
            <div class="info-item">

                    <strong><i class="fas fa-phone"></i>Telefon:</strong>
                <p><a href="tel:+48505044979">+48 505 044 979</a></p>
            </div>
            <div class="info-item">

                    <strong> <i class="fas fa-envelope"></i>Email:</strong>
                <p><a href="mailto:kontakt@firma.pl">kontakt@autoszubin.pl</a></p>
            </div>
            <div class="info-item">

                    <strong> <i class="fas fa-clock"></i>Godziny otwarcia:</strong>
                    <p>Zadzwoń i umów się z nami<br></p>
            </div>
                <div class="contact-social">
                    <a href="https://www.facebook.com/profile.php?id=61571723789889" target="_blank" class="facebook-link">
                        <i class="fab fa-facebook-f"></i> Odwiedź nas na Facebooku
                    </a>
                </div>
        </div>

        <!-- Prawa kolumna: mapa Google -->
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38411.076437668664!2d17.70930408325933!3d53.0079172447738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470373d801e8cef9%3A0xfe22eb664b4e7b4e!2sMarii%20Konopnickiej%2049%2C%2089-200%20Szubin!5e0!3m2!1spl!2spl!4v1759784014731!5m2!1spl!2spl" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</div>
