@model Car4You.Models.Equipment

@{
    ViewData["Title"] = "Dodaj nowe wyposażenie";
}

<h2>@ViewData["Title"]</h2>
<form asp-action="CreateEquipment" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nazwa wyposażenia</label>
        <input asp-for="Name" class="form-control" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="icon" class="form-label">Ikona:</label><br>
        <input type="file" id="icon" name="imageFile" accept=".png" class="form-control" required>
    </div>

    <div class="mb-3">
        <label asp-for="EquipmentTypeId" class="form-label">Typ wyposażenia</label>
        <select asp-for="EquipmentTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.EquipmentTypes, "Id", "Name"))">
            <option value="">Wybierz typ</option>
        </select>
        <span asp-validation-for="EquipmentTypeId" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
