@model IEnumerable<Equipment>

@{
    ViewData["Title"] = "Lista Wyposażenia";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Create" class="btn btn-success">Dodaj nowe auto</a>
<a asp-action="CreateEquipment" class="btn btn-success">Dodaj nowe wyposażenie</a>