@{
    ViewData["Title"] = "Admin";
}
<link href="~/css/admin_site.css" rel="stylesheet" />
<style>
    .btn_primary{
        margin-right: 1rem;
    }
</style>

<div style="margin-top:180px;">
    <h1 style="margin:0; display:inline-block; color:#24435e; font-weight:500;">
        <a asp-action="Index" asp-controller="Home" style="margin-right:1rem;">
            <i class="fas fa-home btn_previous"></i>
        </a>
        Panel administratora
    </h1>
    <div class="line" style="margin-bottom:2rem;"></div>
</div>

<a asp-action="Brand" asp-controller="Admin" class="btn_primary">Zarządzaj markami</a>
<a asp-action="Equipment" asp-controller="Admin" class="btn_primary">Zarządzaj wyposażeniem</a>
<a asp-action="AddCar" asp-controller="Admin" class="btn_primary">Dodaj auto</a>
