

<a asp-action="Brand" asp-controller="Admin" class="btn btn-success">Zarządzaj markami</a>
<a asp-action="CarModel" asp-controller="Admin" class="btn btn-success">Zarządzaj modelami aut</a>
<a asp-action="Equipment" asp-controller="Admin" class="btn btn-success">Zarządzaj wyposażeniem</a>